*{
    margin: 0;
    padding: 0;
}
/*header section */
.header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    height: 100px;
}
nav button{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    border: none;
}
nav h2{
    font-size: 34px;
    color: #4E47FF;
    font-family: 'Inter';
    font-weight: bold;
}
.template{
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div h1{
    font-family: 'Raleway';
    font-size: 65px;
    font-weight: bold;
    
}
.div-button{
     width: 174px;
    height: 48px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    margin-top: 37px;
    border: none;
}
/*2nd step*/
.parent{
    display: flex;
    width: 1140px;
    height: 360px;
    margin:auto;
   justify-content: space-between;
   margin-top: 116px;
   padding: 0px;
}
.action{
    padding: 78.5px 0px;

}
.action h2{
    font-size: 42px;
    font-weight: bold;
    font-family: 'Raleway';
}
.action p{
    font-size: 24;
    font-family: 'Raleway';
    color: gray;
    margin-top: 23px;

}
.action button{
     width: 229px;
    height: 48px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    margin-top: 23px;
    border: none;

}
.my-image{
    width:443px;
    height: 360px;
    border-radius: 48px;   
}
/*3rd part*/
.user{
    background-color:rgba(78, 71, 255, 0.1);
    width: 1140px;
    height: 306px;
    margin: 84px auto;
    border-radius: 24px;
}
.h4{
    font-size: 38px;
    font-family: 'Raleway';
    text-align: center;
    padding-top: 50px;
}
.all{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 142px;
    padding-right: 142px;
    color: #4E47FF;
   
}

